{% extends 'base.html' %}
{% load static %}


{% block custom_links %}

    <link href="{% static 'assets/css/ecommerce-dashboard/timeline.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/ecommerce-dashboard/style.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body %}

<div class="row layout-spacing ">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
        <div class="widget-content widget-content-area br-4 p-0">
            <div class="customer-satisfaction text-center">
                <h6 class="c-s-title mt-3 mb-3">Total Progress</h6>
                <p class="c-s-stats mb-4">{{level_progress}}%</p>
                <div class="progress">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{level_progress}}%" aria-valuenow="{{level_progress}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="c-s-stats-data mt-5 d-flex justify-content-around">
                    <div class="mb-3">
                        <p class="mb-0">Level Assign</p>
                        <span class="">{{level_count}}</span>
                    </div>
                    <div class="mb-3">
                        <p class="mb-0">Quiz Taken</p>
                        <span class="">{{quiz_count}}</span>
                    </div>
                    <div class="mb-3">
                        <p class="mb-0">Progress</p>
                        <i class="flaticon-profits-1 mt-1"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>







{% endblock %}

{% block custom_js %}
    <script src="{% static 'assets/js/ui-kit/timeline/horizontal-main.js' %}"></script>
    <script src="{% static 'plugins/progressbar/progressbar.min.js' %}"></script>
    <script src="{% static 'plugins/charts/amcharts/amcharts.js' %}"></script>
    <script src="{% static 'plugins/maps/vector/ammaps/ammap_amcharts_extension.js' %}"></script>
    <script src="{% static 'plugins/maps/vector/ammaps/worldLow.js' %}"></script>
    <script src="{% static 'plugins/charts/amcharts/radar.js' %}"></script>
    <script src="{% static 'plugins/charts/amcharts/pie.js' %}"></script>
    <script src="{% static 'plugins/charts/sparklines/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'plugins/charts/amcharts/serial.js' %}"></script>
    <script src="{% static 'plugins/charts/amcharts/light.js' %}"></script>
    <script src="{% static 'assets/js/ecommerce-dashboard/ecommerce-custom.js' %}"></script>

{% endblock %}